body {
  margin-top: 10px;
}
h1 {
  font-size: 20px;
  font-family: "Lato"
}
h2 {
  font-size: 16px;
  font-family: "Lato"
}
li {
  font-family: "Lato"
}
.attribution {
  font-style: italic;
  text-align: right;
}
#japanese {
  font-style: italic;
}
img {
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
}
